.bg-body{
    background-color: #010530 !important;
}

.bg-card{
    background-color: #36354496 !important;
    color: white;
}

.bg-input{
    background-color: #aba9bc !important;
}

.bg-nav-button{
    background-color: #464555 !important;
}

.text-nav-logout{
    color:#d6042e !important ;
}

.bg-logo{
    background-color: #7d87f2 !important;
    text-align: center;
}

.nav-link:hover{
    color: #7d87f2 !important;
}

.card{
    background-color: #7d87f2;
}

.input-cantidad{
    background-color: #464555 !important;
    color: white;
    width: 50%;
    border: 3px solid black;
}


.input-cantidad::placeholder , .input-cantidad:active, .input-cantidad:focus{
    color: white;
}

.img-productos{
    border-radius: 10px;
    width: 50%;
}

.price{
    font-size:x-large;
    
}

.titulo-categorias{
    color: aliceblue;
    text-align: center;
}

.img-carrito{
    margin-left: 10px;
    margin-right: 10px;
}

.img-login{
    margin-top: 20px;
    height: 150px;
    width: 150px;
    text-align: center;
}

.img-registro{
    margin-top: 10px;
    height: 120px;
    width: 120px;
    text-align: center;
}

.card-header{
    color: #e70505 !important;
}