.bg-body{
    background-color: #010530 !important;
}

.bg-card{
    background-color: #36354496 !important;
}

.bg-input{
    background-color: #aba9bc !important;
}

.bg-nav-button{
    background-color: #464555 !important;
}

.text-nav-logout{
    color:#d6042e !important ;
}

.bg-logo{
    background-color: #7d87f2 !important;
}

.nav-link:hover{
    color: #7d87f2 !important;
}

.card{
    background-color: #7d87f2;
}

.input-cantidad{
    background-color: #464555 !important;
    color: white;
    width: 50%;
    border: 3px solid black;
}


.input-cantidad::placeholder , .input-cantidad:active, .input-cantidad:focus{
    color: white;
}

.img-productos{
    border-radius: 10px;
    width: 50%;
}

.price{
    font-size:x-large;
    
}